<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %>  </title>
</head>
<body>
    <h3>Menu Projeto PI - DSM 2°</h3>

    <br>
    <br>
    
    
    <div id="relLivros" style="border: 1px solid black">
        <br>
        <br>
        <form action="/livros/listar" method="post">
            <input type="submit" value="Listar Livros">
        </form>
        <br>
        <br>
        <form action="/obra/listar" method="post">
            <input type="submit" value="Listar Obras">
        </form>
        <br>
        <br>
        <form action="/engenheiro/listar" method="post">
            <input type="submit" value="Listar Engenheiros">
        </form>
        <br>
        <br>
    </div>

</body>
</html>